* {
    padding: 0;
    margin: 0;
}

.head_Img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #434343;
    padding: 16px;
}

.pic {
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-grow: 1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(20deg);
    }
}

.pic img:hover {
    animation: spin .5s;
    transform: rotate(20deg);
}

.pic img {
    margin: 10px auto;
    width: 0;
    flex-basis: 20%;
    border-radius: 15px;
}

.scrolltop {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 33px;
    height: 33px;
    border: 1px solid rgb(182, 182, 182);
    color: rgb(114, 114, 114);
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
}

.bodyContent {
    display: flex;
    justify-content: center;
}

#form {
    width: auto;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.item .left {
    flex-basis: 40%;
    text-align: right;
    margin-right: 20px;
    flex-shrink: 0;
}

.item .right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.item .contect_inp input {
    margin-right: 5px;
}

.item .right>* {
    margin-right: 10px;
}

.itemlast {
    display: flex;
    justify-content: center;
}

.sub,
.btn {
    width: 60px;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin: 10px;
}

.sub {
    background-color: #1677ff;
    color: #eee;
}